@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Martian Mono', monospace;
  font-family: 'Oswald', sans-serif;
}

header {
    background: #1c1c7c;
    text-align: center;
    padding: 30px 0;
    color: white;
}

main {
  margin-left: 8px;
}
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
  width: 30%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  background-color: #1c1c7c;
  color: white;
  padding: 8px;
    text-align: center;
}

td {
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur de fond pour les lignes paires */
}

.mainContent {
  margin-bottom: 10px;
}

.errorMsg {
  color: red;
  background: rgba(128, 128, 128, 0.1);
}

nav a {
  color: white;
  padding: 10px;
  transition: all 0.3s ease;
}

nav a:hover {
  opacity: 0.7;
}

.student-info {
    margin: 10px 0;
    font-size: 16px;
}

.student-info label {
    margin-right: 10px;
    font-weight: bold;
}


/* Style du texte à l'intérieur des balises <span> */
.student-info span {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
}

