<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>PAE Accueil</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main layout:fragment="content">
    <h1 class="display-4 text-center mt-5 mb-4">
        <span th:text="${course.id}"></span>
        <span> - </span>
        <span th:text="${course.title}"></span>
    </h1>

    <div th:replace="fragments/fragment-students :: fragment-students(pageTitle='Liste des étudiants inscrit à ce cours', students=${course.students})"></div>

    <div class = "alert alert-danger mt-4" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/courses/enrollStudent}" th:object="${course}" method="post">
        <input type="hidden" name="courseId" th:value="${course.id}"/>
        <label for="studentSelect">Sélectionnez un étudiant :</label>
        <select id="studentSelect" name="studentId">
            <option value="" th:if="${students.isEmpty()}">Aucun étudiant disponible</option>
            <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}"></option>
        </select>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</main>
</body>
</html>