<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr">
<head>
  <meta charset="UTF-8">
  <title>PAE Layout</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<img class="logo" th:src="@{/img/logo-he2b.png}" alt="logo he2b" height="60">
<header>
  <h1>Programme annuel des étudiants</h1>
  <h3>HE2B-ESI / WEBG5 / 58008 / 2023-2024</h3>
</header>
<main layout:fragment="content">
  Ce contenu sera remplacé.
</main>
</body>
</html>
