<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>PAE Accueil</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main layout:fragment ="content">
    <p class="student-info">
        <label>Matricule :</label>
        <span th:text="${#strings.toUpperCase(student.id)}">Student</span>
    </p>
    <p class="student-info">
        <label>Nom :</label>
        <span th:text="${#strings.toUpperCase(student.name)}">Student</span>
    </p>
    <p class="student-info">
        <label>Genre :</label>
        <span th:text="${#strings.toUpperCase(student.gender)}">Student</span>
    </p>
    <p class="student-info">
        <label>Section :</label>
        <span th:text="${#strings.toUpperCase(student.section)}">Student</span>
    </p>

    <button><a th:href="@{/}">Retour à la page principale.</a></button>
</main>
</body>
</html>