<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>PAE Accueil</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main layout:fragment ="content">
    <div class="container">
        <h2>Student Information</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Matricule</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${#strings.toUpperCase(student.id)}">Student</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Nom</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${#strings.toUpperCase(student.name)}">Student</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Genre</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${#strings.toUpperCase(student.gender)}">Student</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Section</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${#strings.toUpperCase(student.section)}">Student</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form th:action="@{/courses/enrollStudent}" th:object="${student}" method="post">
        <input type="hidden" name="studentId" th:value="${student.id}"/>
        <label for="courseSelect">Sélectionnez un cours :</label>
        <select id="courseSelect" name="courseId">
            <option value="" th:if="${courses.isEmpty()}">Aucun cours disponible</option>
            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.title}"></option>
        </select>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</main>
</body>
</html>