<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>PAE Monopage</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <img class="logo" src="/img/logo-he2b.png" alt="logo he2b" height="60">
  <header>
    <h1>Programme annuel des étudiants</h1>
    <h3>HE2B-ESI / WEBG5 / 58008 / 2023-2024</h3>
  </header>
  <main>
    <div class="courses">
      <h2>Liste des cours :</h2>

      <select id="requestData" name="courses">
        <option value="" disabled selected>Choisissez un cours</option>
        <option value="cours1">WEBG5</option>
        <option value="cours2">MAT1</option>
        <option value="cours3">ATLG3</option>
        <option value="cours4">ATLG4</option>
    </select>
    <br>
    <br>
      <table th:if="${not #lists.isEmpty(courses)}">
        <tr>
          <th>Sigle</th>
          <th>Titre</th>
          <th>ECTS</th>
        </tr>

        <tr th:each="course : ${courses}">
          <td><a th:href="@{/course/{courseId}/details(courseId=${course.id})}" th:text="${course.id}">nom</a></td>
          <td><a th:href="@{/course/{courseId}/details(courseId=${course.id})}" th:text="${course.title}">nom</a></td>
          <td th:text="${course.credits}">nom</td>
        </tr>
      </table>
    </div>
  </main>

  <script src="pae.js"></script>
</body>

</html>