<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>PAE Monopage</title>
	<link rel="stylesheet" href="/css/style.css"/>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<img class="logo" src="/img/logo-he2b.png" alt="logo he2b" height="60">
<header>
	<h1>Programme annuel des étudiants</h1>
	<h3>HE2B-ESI / WEBG5 / 58008 / 2023-2024</h3>
</header>
<main>
	<div class="courses">
		<h2>Liste des cours</h2>
		<select id="requestData" v-model="id" v-on:change="getCourse">
			<option value="default" disabled selected></option>
			<option value="INT1" >INT1</option>
			<option value="DEV3">DEV3</option>
			<option value="WEBG5">WEBG5</option>
		</select><br><br>
	</div>
	<div id="responseData" v-if="credits > 0">
		<p>Sigle : {{ id }}</p>
		<p>Intitulé : {{ title }}</p>
		<p>Crédits : {{ credits }}</p>
	</div>
	<script src="pae.js"></script>
</main>
</body>
</html>
