<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="fr">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>PAE Layout</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<img class="logo" th:src="@{/img/logo-he2b.png}" alt="logo he2b" height="60">
<header>
    <h1 th:text="#{headerTitle}">Programme annuel des étudiants</h1>
    <h3>HE2B-ESI / WEBG5 / 58112 / 2023-2024</h3>

    <div th:replace="fragments/fragment-nav-bar :: fragment-nav-bar()"></div>
    <div sec:authorize="isAuthenticated()">
        <div class="d-flex justify-content-end align-items-center">
            <!-- Affiche le nom de l'utilisateur authentifié -->
            <p sec:authentication="name" class="mb-0 mr-2">Bob</p>

            <!-- Formulaire de déconnexion -->
            <form method="POST" th:action="@{/logout}" class="mb-0">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <div class="d-flex justify-content-end align-items-center">
            <a href="/login" class="btn btn-primary mb-0 mr-2">Login</a>
        </div>
    </div>
</header>
<main layout:fragment="content">
    Ce contenu sera remplacé.
</main>
</body>
</html>
